* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar{
  display: flex;;
  width: 100vw;
}

.flex{
  display: flex;
  width: 100vw;
  height: 100vh;
}

#map {
  flex: 1;
}

.sideBarFlex{
  display: flex;
  flex-direction: column;
}
.sidebar{
  width: 20vw;
  height: 50vh;
  background-color: teal;
}
